<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div class="wrapper">
        <div class="container">
            <div class="block-one">

                <div id="app"> {{message}} </div>
                <div id="app2"><span v-bind:title="message">
                    проверка динамического связывани при наведении курсора на блок
                </span></div>
                <label for="name"> Name: </label>
                    <input type="text" id="name" name="name">
                    <button>Это кнопка</button>
                <label for="checking">Check it: </label>
                <div id="app-6">
                    <p>{{checkMessage}}</p>
                    <input id="checking" v-model="checkMessage">
                </div>
            </div>
        </div>
    </div>
    <div id="app-3">
        <span v-if="seen">Сейчас меня видно</span>
      </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{messageRev}}</p>
        <button v-on:click="reverseMessage">Переверни меня</button>
        <button v-on:click="changeCol">Замена цвета</button>
    </div>
    <script src="./main.js"></script>
</body>
</html>