<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    
    <title>Test question api</title>
</head>
<body>
    <!-- Import axios min -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <!-- Import lodash min -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div class="wrapper">
        <div class="container">
            <div class="block-one">
                <div id="watch-example">
                    <p>
                        Ask a question that can be answered "yes" or "no":
                        <input v-model="question">
                    </p>
                    <p>{{ answer }}</p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="block-two">
               <div id="app">
                <h1>Bitcoin Price Index</h1>
                <div
                v-for="currency in info"
                class="currency">{{ currency.description }} : 
            <span class="lighten">
                <span v-html="currency.symbol"></span> {{ currency.rate_float | currencydecimal }}
            </span></div>
               </div>
            </div>
        </div>
        <div class="container">
            <div id="nav">
                <input type="text" :value="name">
                <a :href="link">Metaform</a>
                <div v-html="markup"></div>
            </div>
            <div id="list">
                <ul>
                    <li v-for="president in presidents" v-bind:class="{'strike':!president.stillAlive}">{{president.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
</body>
</html>