.container {
    margin: 0 auto;
}
.wrapper {
    margin: 0 auto;
    max-width: 1280px;
}
.block-one {
    font-weight: 600;
    margin:0 auto;
    width: 400px;
    height: 200px;
    border: 2px solid #e9681e;
    border-radius: 18px;
    background-color: #f74e81;
}

.block-two {
    margin: 0 auto;
    
}